.dashboard {
    display: grid;
    grid-template-columns: 0.2fr 3fr 1fr;
    /* Sidebar, MainContent, RightPanel */
    grid-template-rows: auto;
    /* Adjust row size as needed */
    grid-template-areas: "sidebar main right";
    height: 100vh;
}

.mainContent {
    grid-area: main;
    /* Other styles for main content */
}

.rightPanel {
    grid-area: right;
    /* Other styles for right panel */
}